# See https://dart.dev/guides/libraries/private-files

.dart_tool/
.packages
build/

# Except for application packages
pubspec.lock

doc/api/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store

# FVM Version Cache
.fvm/

# Generated sources
**/*.g.dart
**/*.gr.dart
**/*.freezed.dart
**/*.mocks.dart


# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
