<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMpnI1aob262KpH5Bh5BG63IYA3GabQ9o</string>
	<key>GCM_SENDER_ID</key>
	<string>1095829830280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supa_flutter.app</string>
	<key>PROJECT_ID</key>
	<string>supa_flutter-9674e</string>
	<key>STORAGE_BUCKET</key>
	<string>supa_flutter-9674e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095829830280:ios:54b82f23c7a6c2cafc3d3d</string>
</dict>
</plist>
